cubx-table table {
    border-collapse: collapse;
    width: 100%;
}

cubx-table table, cubx-table th, cubx-table td {
    border: 1px solid black;
    padding: 0 5px;
}

cubx-table th {
    font-weight: bold;
}

cubx-table .advanced, cubx-table .clickable {
    cursor: pointer;
}

cubx-table .clickable:hover {
    background: rgba(0,0,0,0.1);
}

cubx-table {
    display: block;
}
